@media screen and (max-width: 600px) {
	body {
		display: flex;
		flex-direction: column;
		justify-items: center;
		margin-top: 50px;
		background-color: whitesmoke;
		color: black;
	}
	h1 {
		font-size: 15px;

	}
}

	body {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		align-items: center;
		background-color: whitesmoke;
		color: black;

	}
	h1 {
		font-size: 15px;
	}
	th {
		font-size: 9px;
		font-weight: 900 ;

	}
